<p style="color: green"><%= notice %></p>

<% if @recipes.empty? %>
  <div class='notifications'>
    <h4>This user hasn't create any recipes yet</h4>
    <%= link_to "New recipe", new_recipe_url, class: 'create_button new_recipe' %>
  </div>
  <% else %>
  <section class='recipe_container'>
  <h1>Recipes</h1>
  <%= link_to "New recipe", new_recipe_url, class: 'create_button new_recipe' %>
  <% @recipes.includes([:user]).each do |recipe| %>
  <article id="recipes" class="recipe_card">
    <div class="name_container">
        <%= link_to recipe.name, recipe_url(recipe.id), { class: 'recipe_name'} %>
        <% if can? :manage, recipe%>
          <%= button_to "REMOVE", recipe_url(recipe.id), method: :delete %>
        <% end %>
    </div>
    <div class="description_container">
      <p class="recipe_description"><%= recipe.description %></p>
    </div>
  </article>
    <% end %>
  <% end %>
</section>
