<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<% if @recipes.empty? %>
  <div class='notifications'>
    <h4>This user hasn't create any recipes yet</h4>
  </div>
  <% else %>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>
      <p>
        <strong>Name:</strong>
        <%= recipe.name %>
      </p>
      <% if can? :delete, recipe %>
        <%= button_to "Delete", user_recipe_url(@user, recipe.id), method: :delete %>
      <% end %>
      <p>
        <%= link_to "Show this recipe", user_recipe_url(@user.id, recipe.id) %>
      </p>
    <% end %>
  </div>
  <% end %>

<%= link_to "New recipe", new_user_recipe_url(@user.id) %>
