<p style="color: green"><%= notice %></p>

<div>
    <h1>Recipe <%=@recipe.name%></h1>
    <div>
      <p>Cooking time: <%=@recipe.cooking_time%></p>
      <p>Preperation time: <%=@recipe.preperation_time%></p>
      <p>Steps go here... </p>
    </div>
</div>

  <div>
  <h3>Public</h3>
   <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

  <%= button_to "Generate shooping list" %>

  <button><%= link_to "Add ingredients", new_recipe_recipe_food_url(@recipe) %></button>

<div>
  <% @recipe_foods.each do |elem| %>
  <p>Food</p>
  
  <%= elem.food[:name] %>
  <p>Quantity</p>
  
  <%= elem[:quantity] %>
  
  <p>Price</p>
  <%= "$ #{elem.food[:price] * elem[:quantity]}" %>
  <p>Actions</p>
   <% if can? :delete, elem %>
      <%= button_to "Delete", recipe_recipe_food_url( @recipe, elem.id), method: :delete %>
   <% end %>

  <% end %>
</div>

<div>
 
  
  <%= link_to "Back to recipes", recipes_url(current_user.id) %>

</div>
