<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
      <%= link_to "Show Foods", user_foods_path(user) %>
      <%= link_to "Show Recipes", user_recipes_path(user) %>
      <%= link_to "Public Recipes", public_recipes_path %>
    </p>
  <% end %>
</div>
