<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
      <%= link_to "Show Foods", foods_path %> 
      <%= link_to "Show Recipes", recipes_path %>
      <%= link_to "Public Recipes", public_recipes_path %>
  </nav>
  <% if user_signed_in? %>
      <nav class='nav_options'>
        <div class='home_button'>
          <%= link_to "Home", public_recipes_path%>
        </div>
        <%= button_to "Log out", destroy_user_session_path, { method: :delete, data: { turbo: false}, class: 'create_button Log out'} %>
      </nav>
    <% end %>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
